{% extends "dashboard.html" %} {% block body %}
<div class="container py-5">
    {% with messages = get_flashed_messages() %} 
    {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show block" role="alert">
      {% for message in messages %} {{ message }} {% endfor %}
    </div>

    {% endif %} {% endwith %}

  <div class="col-md-6 offset-md-3">
    <span class="anchor" id="formChangePassword"> CHANGE PASSWORD</span>
    <hr class="mb-5" />

    <!-- form card change password -->
    <div class="card card-outline-secondary bg-transparent shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <form action="/resetPassword" method="POST" class="form" role="form" autocomplete="off">
          <div class="form-group">
            <label for="inputPasswordOld" class="mb-3">Current Password *</label>
            <input
              type="password"
              class="form-control bg-transparent text-white resetField1"
              id="inputPasswordOld"
              required=""
              name="oldPassword"
            />
          </div>
          <div class="form-group">
            <label for="inputPasswordNew"  class="my-3">New Password *</label>
            <input
              type="password"
              class="form-control bg-transparent text-white resetField2"
              id="inputPasswordNew"
              name="newPassword"
              required=""
            />
          </div>
          <div class="form-group">
            <label for="inputPasswordNewVerify"  class="my-3">Confirm *</label>
            <input
              type="password"
              class="form-control bg-transparent text-white resetField3"
              id="inputPasswordNewVerify"
              name="cPassword"
              required=""
            />
            <span class="form-text small text-muted">
              To confirm, type the new password again.
            </span>
          </div>
          <div class="form-group my-3">
            <button type="submit" class="btn buttons btn-success btn-lg float-right">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
